.havemust-title {
    margin-top: 30px;
    color: #2067a5;
    font-size: xxx-large;
    text-shadow: #fc0 1px 0 10px;
}

.column-title{
    background: #858fb8;
}

.table-havemust {
    text-align: center;
    vertical-align: middle;
}

.form-check {
    padding-left: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

td img {
    max-width: 100%;
}
.fa-solid-edit {
    color:rgb(86, 142, 188)
}

.fa-solid-delete{
    color: rgb(242, 73, 73);
}

.button-addnewdata {
    padding: 5px 15px;
    border-radius: 5px;
    margin-left: 20px;
    color: #fff;
    background-color: #179931;
    border-color: #0d6efd;
    opacity: .65;   
}

.havemust-box{
}

.box-buttonfunction {
    margin: 35px 0;
    display: flex;
    justify-content: end;
}