<form method="POST" action="/about/{{data._id}}?_method=PUT">
  <div class="form-group">
    <label for="name">Title for About Devplus</label>
    <input type="text" value="{{data.title}}" class="form-control" id="name" name="name" required />
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Add Data</button>
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
    >Close</button>
  </div>
</form>