@import url("../node_modules/font-awesome/css/font-awesome.min.css");
.section-login {
  padding: 100px 0; }
  .section-login .user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #F67823;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px; }
  .section-login .brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center; }
  .section-login .brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white; }
  .section-login .form_container {
    margin-top: 100px; }
  .section-login .login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important; }
    .section-login .login_btn:focus {
      box-shadow: none !important;
      outline: 0px !important; }
  .section-login .login_container {
    padding: 0 2rem; }
  .section-login .input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important; }
    .section-login .input-group-text .fas {
      padding: 5px 3px; }
  .section-login .input_user {
    box-shadow: none !important;
    outline: 0px !important; }
  .section-login .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important; }
  .section-login .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #c0392b !important; }

.havemust-title {
  margin-top: 30px;
  color: #2067a5;
  font-size: xxx-large;
  text-shadow: #fc0 1px 0 10px; }

.column-title {
  background: #858fb8; }

.table-havemust {
  text-align: center;
  vertical-align: middle; }

.form-check {
  padding-left: 3rem; }

a {
  text-decoration: none;
  color: black; }

td img {
  max-width: 100%; }

.fa-solid-edit {
  color: #568ebc; }

.fa-solid-delete {
  color: #f24949; }

.button-addnewdata {
  padding: 5px 15px;
  margin-left: 50px;
  border-radius: 5px;
  color: #fff;
  background-color: #179931;
  border-color: #0d6efd;
  opacity: .65; }

.button-garbage {
  margin-left: 100px; }

.havemust-box {
  display: grid;
  grid-template-columns: 60% auto; }

.box-buttonfunction {
  margin: 24px 0;
  display: flex;
  justify-content: space-between; }

.column-title {
  background: #858fb8; }

.table-havemust {
  text-align: center; }

.navbar {
  padding: 10px 30px; }

.navbar-expand-lg {
  justify-content: space-between; }

a.btn {
  display: block;
  text-decoration: none;
  list-style-type: none; }

.row {
  margin: 0; }
  .row .card-course-item {
    margin-top: 16px; }

.sidebard-wrapper {
  min-height: 100vh;
  background-color: #343a40;
  border: 2px gainsboro solid; }

.card-img-top {
  height: 270px;
  padding: 20px; }

.content-create {
  margin: 0 20px; }

.user-avatar {
  width: 30px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px; }

.checkbox-select-all-options {
  width: 140px;
  margin: 0 16px; }

.navbar-left {
  display: flex; }
  .navbar-left i {
    font-size: 30px;
    padding-right: 10px; }

.nav-item-wrapper {
  display: flex; }

.icon-nav {
  font-size: 10px; }

.menu-icon {
  margin-right: 0.5rem;
  font-size: 0.8125rem;
  line-height: 1;
  background: rgba(108, 114, 147, 0.2);
  width: 31px;
  height: 31px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.banner-item {
  width: 200px;
  height: 100px; }
