<div class="col-lg-2 sidebard-wrapper bg-dark">
  <ul class="nav flex-column">
    <li class="nav-item nav-item-wrapper">
      <span class="menu-icon">
        <i class="fa-solid fa-sliders icon-nav"></i>
      </span>
      <a class="nav-link" href="/slideBar/list">Slide Bar</a>
    </li>
    <li class="nav-item nav-item-wrapper">
      <span class="menu-icon">
        <i class="fa-solid icon-nav fa-bell"></i>
      </span>
      <a class="nav-link" href="/must-have/list">Have Must</a>
    </li>
    <li class="nav-item nav-item-wrapper">
      <span class="menu-icon">
        <i class="fa-solid icon-nav fa-bell"></i>
      </span>
      <a class="nav-link" href="/saying/list">Saying</a>
    </li>
    <li class="nav-item nav-item-wrapper">
      <span class="menu-icon">
        <i class="fa-solid fa-satellite icon-nav"></i>
      </span>
      <a class="nav-link" href="/concern/list">Concern</a>
    </li>
    <li class="nav-item nav-item-wrapper">
      <span class="menu-icon">
        <i class="fa-brands fa-confluence icon-nav"></i>
      </span>
      <a class="nav-link" href="/campus/list">Main Campus</a>
    </li>
    <li class="nav-item nav-item-wrapper">
      <span class="menu-icon">
        <i class="fa-brands fa-canadian-maple-leaf icon-nav"></i>
      </span>
      <a class="nav-link" href="/admission/list">Admission</a>
    </li>
    <li class="nav-item nav-item-wrapper">
      <span class="menu-icon">
        <i class="fa-solid fa-kaaba icon-nav"></i>
      </span>
      <a class="nav-link" href="/about/list">About Devplus</a>
    </li>
  </ul>
</div>