<div class="container-form">
  <h3 class="editdataform-title">
    Edit Data DevPlus slideBar
  </h3>
  <div class="form-warapper">
    <form method="POST" action="/slideBar/{{data._id}}?_method=PUT" enctype="multipart/form-data">
  {{!-- <div class="form-group">
    <label for="imageAvatar">Avatar</label>
    <input
      type="text"
      value="{{this._doc.avatar}}"
      class="form-control"
      id="imageAvatar"
      name="imageAvatar"
      required
    />
  </div> --}}
  <div class="form-group">
    <label for="src" class="src">Select file<i class="fa-solid fa-cloud-arrow-down"></i></label>
    <input type="file" class="form-control" id="src" name="src" required/>
    <div class="img"></div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Add Data</button>
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
    >Close</button>
  </div>
</form>
  </div>
</div>

