<div class="container-form">
  <h3 class="editdataform-title">
    Edit Data About Devplus
  </h3>
  <div class="form-warapper">
    <form method="POST" action="/must-have/{{data._id}}?_method=PUT">
  <div class="form-group">
    <label for="title">Name Data</label>
    <input type="text" class="form-control" id="title" name="title" required />
  </div>
  <div class="form-group">
    <label for="course">Name course</label>
    <input type="text" class="form-control" id="course" name="course" required />
  </div>
  <div class="form-group">
    <label for="icon">Name Icon</label>
    <input type="text" class="form-control" id="icon" name="icon" required />
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Edit Data</button>
  </div>
</form>
  </div>
</div>

