<form method="POST" action="/must-have/{{data._id}}?_method=PUT">
  <div class="form-group">
    <label for="title">Name Data</label>
    <input type="text" class="form-control" id="title" name="title" required />
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Edit Data</button>
  </div>
</form>